* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(./fonts/Norse-Bold.otf);
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: sans-serif, monospace;
}

.distinct-line {
    margin-top: 1rem;
}

.left-panel {
    background-image: url(./images/background.jpg);
    background-size: cover;
    width: 35vw;
    position: relative;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

footer a {
    color: white;
}

.left-panel .main-title {
    display: flex;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Norse-Bold";
    font-size: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.768);
}

.left-panel h1 {
    display: inline;
}

.right-panel {
    width: 65vw;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    flex-direction: column;
}

.main-container span {
    font-size: 1.5rem;
}

.main-container img {
    width: 5rem;
    height: auto;
}

.greeting-text-section,
.form-section,
.button-section {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 12rem;
}

.greeting-text-section {
    justify-content: end;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    height: 13rem;
}

.form-section {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgb(50, 50, 50);
    box-shadow: rgb(17, 18, 19) 0px 3px 20px 5px;
    position: relative;
}

.form-control-panel div {
    display: flex;
    gap: 4rem
}

.form-control-panel div:nth-child(2n+1) {
    padding-top: 1.5rem;
}

.form-control-panel div:nth-child(2n+0) {
    padding-top: 0.25rem;
}

.label-line label,
.input-line input {
    width: 12rem;
    box-sizing: border-box;
}

.input-line input {
    padding-left: 5px;
    height: 1.75rem;
    font-size: 1rem;
}

.label-line label {
    color: rgb(160, 160, 160);
}

/* .input-line input:invalid:empty {
    border: solid 2px rgb(210, 0, 0);
}

.input-line input:not([name="lName"]) {
    background-color: rgba(66, 179, 72, 0.337);
    border-color: rgb(66, 179, 71);
} */

.form-section .required-label::after {
    content: " *";
}

.form-section>span::after {
    content: "* indicates a required field";
    font-size: 0.7rem;
    position: absolute;
    bottom: 0.3rem;
    left: 3rem;
}

.form-section input {
    background-color: rgb(50, 50, 50);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 3px;
    color: white;
}

.form-section input:focus {
    background-color: rgb(100, 100, 100);
}

.form-section input:hover:not(:focus) {
    background-color: rgb(70, 70, 70);
}

.form-control-panel {
    font-size: 0.85rem;
    font-weight: 550;
    text-transform: uppercase;
}

.button-section {
    justify-content: top;
    padding-top: 2rem;
}

.button-section button {
    height: 2.5rem;
    width: 10rem;
    margin-bottom: 1rem;
    color: rgb(66, 179, 71);
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    font-weight: 800;
    font-size: 1rem;
    border: 2px solid rgb(66, 179, 71);
    box-shadow: rgb(0, 0, 0) 0px 1px 3px 1px;
}

.button-section button:hover {
    background-color: rgb(66, 179, 71);
    color: white;
    transition: all 0, 25s;
    border: none;
}

.button-section button:active {
    transform: scale(0.95);
    box-shadow: rgb(0, 0, 0) 0px 1px 1px 1px;
}

.button-section a {
    text-decoration: none;
    color: rgb(66, 179, 71);
}